* {
    margin: 0;
}

.verticalLine {
    border-left: 1px solid white;
    height: 25px;
    margin-left: 25px;
}
.navbar-nav .row {
    width: 70vw;
}

::placeholder{
    color: rgb(164, 164, 164);
    font-size: 15px;
}

.profile {
    margin-right: 50px;
    padding-top: 10px;
    color: white;
}
.profile h4{
    margin-left: 10px;
}
.col-1 {
    margin-left: 10px;
}
#username {
    color: white;
    font-size: 13px;
}
#email {
    color: rgb(177, 177, 177);
    font-size: 13px;
    font-weight: 400;
}

.col-lg-2 {
    border-radius: 10px;
    height: 100vh;
}

.dashboard-body .col {
    border-radius: 10px;
    height: 100vh;
}
.container {
    padding: 15px;
}
.container .heading{
    margin-left: 10px;
}
.container-body {
    padding: 20px;
}
.sales-card-text {
    padding: 10px;
}
.col-7 {
    margin-left: 60px;
}
.card-content {
    padding: 10px;
}
.card-content .heading p {
    margin-left: 12px;
    color: grey;

}

