<div class="dashboard-body">
    <div class="row g-0">
        <div class="col-lg-2">
            <app-side-nav></app-side-nav>
        </div>
        <div class="col" style="margin: 0;">
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" style="font-weight: 500;">Samsung M33 Sale</a>
                  </div>
              </nav>
            <div class="container-body">
                <nav class="navbar navbar-light">
                    <div class="container-fluid" style="width: 13%;">
                        <a href="/Sale" style="font-weight: 500;font-size: 12px; text-decoration: none;">Sales Panel ></a>
                        <p style="font-weight: 500;font-size: 12px;">Sales</p>
                      </div>
                  </nav>
                
            <div class="sales-table">
                <div class="card" style="margin-top: 10px;max-height: 300px;overflow: auto;">
                    <div class="card-content">
                        <div class="heading">
                            <nav class="navbar navbar-light">
                                <div class="container-fluid">
                                  <h2 class="navbar-brand">Samsung M33 Sale</h2>
                                </div>
                              </nav>
                                <div class="container-fluid">
                                    <div class="row g-0">
                                        <div class="col-4">
                                            <div class="details">
                                                <div class="product">
                                                    <h6>Billed To:</h6>
                                                </div>
                                                <div class="supplier">
                                                    <p>Client Phone Number</p>
                                                </div>
                                                <div class="imei">
                                                    <p>Client Name</p>
                                                </div>
                                                <div class="supplier">
                                                   <p>Client Email</p>
                                                </div>
                                                <div class="supplier">
                                                    <p>Client Location</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="details">
                                                <div class="product">
                                                    <h6>Product Details:</h6>
                                                </div>
                                                <div class="imei">
                                                    <p>IMEI</p>
                                                </div>
                                                <div class="suppluer">
                                                    <p>Supplier</p>
                                                </div>
                                                <div class="sold_by">
                                                   <p>Sold By:</p>
                                                </div>
                                                <div class="supplier">
                                                    <p>Checked In By:</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="details">
                                                <div class="product">
                                                    <h6>Status Details:</h6>
                                                </div>
                                                <div class="status">
                                                    <p style="color: green;">Sold</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


