*{
    margin: 0;
}
h2 {
    font-weight: 650;
}

h3 {
    font-style:italic;
    font-weight: 650;
}
.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
}

label {
    margin-left: 50px;
    padding-bottom: 5px;
    font-weight: 500;
}

input[type="email"], input[type="password"] {
    width: 80%;
    height: 3pc;
    background-color: #ffffff;
    border: 2px solid blue;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
}

input[type="submit"] {
    width: 80%;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 50px;
  }
  input[type="submit"]:hover {
    background-color: #15a11c;
  }

.center {
    margin: 0;
    position: absolute;
    
    
    transform: translateX(100%);
  }

button {
    margin-right: 30px;
    margin-bottom: 10px;
}